{% extends "layout.html" %}
{% block title %} | About {% endblock %}
{% block content %}
    <p>
        Welcome to Playlist Machine, a tool that lets you generate Spotify playlists based on ("inspired by") a specified artist and song.
        <br>You can also choose a genre and set up audio features.
    </p>
    <p>
        This app is created with Python (Flask), using the Spotify Web API (mostly <a href="https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-recommendations">Recommendations</a> endpoint).
    </p>
    <p>
        A source code is available on <a href="https://github.com/eluczak/playlist-machine">GitHub</a>.
    </p>
{% endblock %}