<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved</title>
</head>
<body>
    <p>Done, your playlist has been saved in your Spotify account.</p>
    <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
    <br>
    <form method=post action="{{ url_for('index') }}">
        <p><button>Back to generator</button></p>
    </form>
</body>
</html>