.title {
    font-weight: bold;
    background: -webkit-linear-gradient(70deg,#0b83bd,#cc0adc);
        background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

strong {
    color: black;
    font-weight: bold;
}

h2 {
    color: black;
    font-weight: bold;
}
form input[type="text"],
form input[type="number"] {
	background: white;
		border: solid 1px #d2d7dc;
		border-radius: 0.35em;
		width: 30%;
		height: 2em;
		padding: 5px;
}


.button {
	color: white;
    font-weight: bold;
	padding: 1em 2em 1em 2em;
	transition: background-color 0.1s ease-in-out;
    border: none;
}

.button_submit {
    background: #10C231;
}

.button_submit:hover {
	background: #09db22;
}

.button_back {
    background: #0b83bd;
}

.button_back:hover {
	background: #14b1e0;
}

body {
	font-family: sans-serif;
    line-height: 1.5;
	background: #ecf1f2;
    color: #444;
}

.content_area {
	margin-left: 30%;
}

