@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.title {
    font-weight: 300;
    font-size: 1.6em;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

h2 {
    font-weight: bold;
}

 .header ul li {
    display: inline-block;
    padding-left: 10px;
    /* needed for IE7- */
    display:inline;
}

.text_input {
	background: white;
		border: solid 1px #d2d7dc;
		border-radius: 0.35em;
		width: 20%;
		padding: 5px;
}

.genre_input {
    width: 10%
}

input[type=range] {
  width: 100%;
  margin: 9.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 2.8px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 9px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ceffff;
}
input[type=range]::-moz-range-track {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 2.8px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 9px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #34ffff;
  border: 1px solid #ffffff;
  border-radius: 5.6px;
}
input[type=range]::-ms-fill-upper {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5.6px;
}
input[type=range]::-ms-thumb {
  width: 9px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: none;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ceffff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}


.button {
	color: white;
	padding: 1em 2em 1em 2em;
	transition: background-color 0.1s ease-in-out;
    border: none;
    border-radius: 0.2em;
}

.button_submit {
    background: none;
    border: 2px solid white
}

.button_submit:hover {
	background: #ffffff50;
}

.button_back {
    background: none;
    border: 2px solid white
}

.button_back:hover {
	background: #ffffff50;
}

body {
	font-family: 'Lato', sans-serif;
    line-height: 1.5;
	background: white;
    color: white;
    margin: 0;
}

.content_area {
	padding-left: 33%;
    padding-right: 10%;
    background: rgb(239,113,23);
    background: linear-gradient(0deg, rgba(239,113,23,1) 0%, rgba(247,85,78,1) 33%, rgba(252,69,110,1) 100%);
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.header {
    background-color: #3c3c3c;
    margin: 0;
    padding: 5px;
    padding-right: 60px;
    text-align: right;
}

.header a {
    color: white;
    text-decoration: none;
}

.footer {
    margin: 0;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 10px;
}

.footer p {
    color: #000000;
}

a {
    color: white;
    text-decoration: underline;
}

.footer a {
    color: rgb(239,113,23);
    text-decoration: none;
}

.autocomplete-suggestions {
    color: black;
    background: white;
    border-radius: 0.35em;
    margin-top: 3px
}

.autocomplete-selected {
    background: #d2d7dc;
    border-radius: 0.35em;
}