<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Playlist Machine{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="content_area">{% block content %}{% endblock %}</div>
    <div class="footer">
        <p>2021 <a href="https://github.com/eluczak">Ewelina Luczak</a></p>
    </div>
</body>
</html>