<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles.css" />
	<title>Playlist machine</title>
</head>
<body>
<div class="header">Home About </div>
<div class="content_area">
    <form method=post action="{{ url_for('preview') }}">
        <h1><span class="title">Playlist Machine</span></h1>
        <p>
            <label for="seed_artists">artists like:</label><br>
            <input type="text" class="text_input" name="seed_artists" id="seed_artists" placeholder="U2" value="U2" required/>
        </p>

        <p>
            <label for="seed_tracks">tracks like:</label><br>
            <input type="text" class="text_input" name="seed_tracks" id="seed_tracks" placeholder="Yellow Submarine|The Beatles" value="Yellow Submarine|The Beatles" required/>
        </p>

        <p>
        <label>genre:</label><br>
        <select name="seed_genres" class="text_input genre_input" id="seed_genres" required>

        {% for genre in available_genres %}
            <option class="text_input genre_input" value="{{ genre }}">{{ genre }}</option>
        {% endfor %}
        </select>
        </p>

        <table>
            <tr>
                <td class="align-right">
                    <label>sad</label>
                </td>
                <td>
                    <input type="range" name="valence" id="valence" min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>happy</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>relaxing</label>
                </td>
                <td>
                    <input type="range" name="energy" id="energy"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>energetic</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>nonrhythmic</label>
                </td>
                <td>
                    <input type="range" name="danceability" id="danceability"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>danceable</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>with vocals</label>
                </td>
                <td>
                    <input type="range" name="instrumentalness" id="instrumentalness"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>no vocals</label>
                </td>
            </tr>

        </table>



        <p><input class="button button_submit" type="submit" name="submit" id="submit" value="Generate" /></p>

    </form>

</div>

<div class="footer">
    <p class="footer_text">2021 <a href="https://github.com/eluczak" class="footer_text">Ewelina Luczak</a></p>
</div>
</body>
</html>