<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles.css" />
	<title>Playlist machine</title>
</head>
<body>
<div class="content_area">
    <form method=post action="{{ url_for('preview') }}">
        <h1><span class="title">Make me a playlist...</span></h1>
        <p>
            <label for="seed_artists"><strong>...with artists like:</strong></label><br>
            <input type="text" name="seed_artists" id="seed_artists" placeholder="Weezer" required/>
        </p>

        <p>
            <label for="seed_tracks"><strong>...tracks like:</strong></label><br>
            <input type="text" name="seed_tracks" id="seed_tracks" placeholder="Yellow Submarine|The Beatles" required/>
        </p>

        <p>
            <label for="seed_genres"><strong>...and genre:</strong></label><br>
            <input type="text" name="seed_genres" id="seed_genres" placeholder="indie" required/>
        </p>

        <label><strong>...which is:</strong></label>
        <table>
            <tr>
                <td class="align-right">
                    <label>sad</label>
                </td>
                <td>
                    <input type="range" name="valence" id="valence" min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>happy</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>relaxing</label>
                </td>
                <td>
                    <input type="range" name="energy" id="energy"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>energetic</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>nonrhythmic</label>
                </td>
                <td>
                    <input type="range" name="danceability" id="danceability"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>danceable</label>
                </td>
            </tr>

            <tr>
                <td class="align-right">
                    <label>with vocals</label>
                </td>
                <td>
                    <input type="range" name="instrumentalness" id="instrumentalness"  min="0" max="1" step="0.1"/>
                </td>
                <td class="align-left">
                    <label>no vocals</label>
                </td>
            </tr>

        </table>

        <br>
        <p><input type="text" name="playlist_name" placeholder="Playlist Name" required/></p>
        <p><input class="button" type="submit" name="submit" id="submit" value="Preview" /></p>

    </form>

</div>
</body>
</html>