{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
{% endblock %}
{% block content %}
    <h1><span class="title">Playlist Machine</span></h1>
    <p>
        <label for="artist_names">artists like:</label><br>
        <input type="text" class="text_input" name="artist_names" id="autocomplete1"/>
    </p>
    <p>
        <label for="songs">tracks like:</label><br>
        <input type="text" class="text_input" name="songs" id="autocomplete2"/>
    </p>


  <script>
  $('#autocomplete1').autocomplete({
      serviceUrl: '/search/artist_names',
      dataType: 'json',
      onSearchComplete: function (query, suggestions) {
        console.log(query);
      },
      onSelect: function (suggestion) {
            document.getElementById("seed_artists").value = suggestion.data;
        }
  });

  $('#autocomplete2').autocomplete({
      serviceUrl: '/search/songs',
      dataType: 'json',
      onSearchComplete: function (query, suggestions) {
        console.log(query);
      },
      onSelect: function (suggestion) {
            document.getElementById("seed_tracks").value = suggestion.data;
        }
  });
  </script>


<form method=post action="{{ url_for('preview') }}">
        <input type="hidden" name="seed_artists" id="seed_artists" />
        <input type="hidden" name="seed_tracks" id="seed_tracks" />

    <p>
    <label>genre:</label><br>
    <select name="seed_genres" class="text_input genre_input" id="seed_genres" required>

    {% for genre in available_genres %}
        <option class="text_input genre_input" value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
    </select>
    </p>

    <table>
        <tr>
            <td class="align-right">
                <label>sad</label>
            </td>
            <td>
                <input type="range" name="valence" id="valence" min="0" max="1" step="0.1"/>
            </td>
            <td class="align-left">
                <label>happy</label>
            </td>
        </tr>

        <tr>
            <td class="align-right">
                <label>relaxing</label>
            </td>
            <td>
                <input type="range" name="energy" id="energy"  min="0" max="1" step="0.1"/>
            </td>
            <td class="align-left">
                <label>energetic</label>
            </td>
        </tr>

        <tr>
            <td class="align-right">
                <label>nonrhythmic</label>
            </td>
            <td>
                <input type="range" name="danceability" id="danceability"  min="0" max="1" step="0.1"/>
            </td>
            <td class="align-left">
                <label>danceable</label>
            </td>
        </tr>

        <tr>
            <td class="align-right">
                <label>with vocals</label>
            </td>
            <td>
                <input type="range" name="instrumentalness" id="instrumentalness"  min="0" max="1" step="0.1"/>
            </td>
            <td class="align-left">
                <label>no vocals</label>
            </td>
        </tr>
    </table>

    <p><input class="button button_submit" type="submit" name="submit" id="submit" value="Generate" /></p>
</form>
{% endblock %}

